<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Slides</title>
  </head>
  <body>
    <%- include('../views/navbar.ejs')%>
    <div class="container">
      <div class="row my-5">
        <div class="col-md-12 text-center my-3">
          <a href="/add_slider">
            <button class="btn btn-danger fw-bold px-4 mx-2 btn-sm">
              Add Slider Data
            </button></a
          >
          <!-- <a href="/view_slider">
            <button class="btn btn-dark fw-bold px-4 mx-2 btn-sm">
              View Slider Data
            </button></a
          > -->
        </div>
      </div>
      <table class="table table-bordered fw-bold text-center">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Slider Id</th>
            <th>Slider Id</th>
            <th>Slider Description</th>
            <th>Slider Image</th>
          </tr>
        </thead>
        <tbody>
          <% data.map((val,index)=>{%>
          <tr>
            <td><%-index+1 %></td>
            <td><%-val.slider_id %></td>
            <td><%-val.slider_title %></td>
            <td><%-val.slider_desc %></td>
            <td>
              <img src="/uploads/<%-val.file%>" class="img-fluid" alt="" style='height:100px'/>
            </td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </div>
  </body>
</html>
