<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <h1>Product Data</h1>

    <hr>


    <table border="1" cellspacing="0" cellpadding="10">

        <tr>
            <th>SR No</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Product Price</th>
            <th>Product Quantity</th>
            <th>Product Details</th>
            <th></th>
            <th></th>
        </tr>



        <%data.map((val,index)=>{ %>

            <tr>

                <td><%=index+1%></td>
                <td><%-val.pid%></td>
                <td><%-val.pname%></td>
                <td><%-val.pcatgory%></td>
                <td><%-val.pprice%></td>
                <td><%-val.pquantity%></td>
                <td><%-val.pdetails%></td>
                <td onclick="return confirm('Are You Sure ? ')"><a href="/delete/<%-val.pid%>"><button>Delete</button></a></td>
                <td><a href="/edit/<%-val.pid%>"><button>Edit</button></a></td>
            </tr>

            <% })%>

    </table>

</body>

</html>