<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Form</title>
    <!-- Bootstrap CSS CDN -->
    <%- include('../views/cdn.ejs') %>
  </head>

  <body class="bg-light">
    <div class="container mt-5">
      <h1 class="mb-4 text-center">Edit Student Data</h1>
      <hr />
      <form
        action="/updateform"
        method="POST"
        class="p-4 bg-white rounded w-50 mx-auto"
      >
        <input type="hidden" name="id" value="<%-data.id%>" id="" />

        <div class="mb-3">
          <label for="name" class="form-label">Edit Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            value="<%-data.name%>"
            required
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Edit Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            value="<%-data.email%>"
            required
          />
        </div>

        <div class="mb-3">
          <label for="course" class="form-label">Edit Course</label>
          <select class="form-select" name="course" id="course" required>
            <option value="None">Select</option>
            <option value="ReactJS" <%-(data.course=='ReactJS' ? 'selected' : null) %> >ReactJS</option>
            <option value="NodeJS" <%-(data.course=='NodeJS' ? 'selected' : null) %> >NodeJS</option>
            <option value="Mongo" <%-(data.course=='Mongo' ? 'selected' : null) %> >Mongo</option>
            <option value="MySQL" <%-(data.course=='MySQL' ? 'selected' : null) %> >MySQL</option>          
          </select>
        </div>

        <div class="d-flex justify-content-center align-items-center">
          <button type="submit" class="btn btn-primary mt-3 px-3">Save</button>
        </div>
      </form>
    </div>

    <!-- Bootstrap JS (optional, for interactive components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
